*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    position: relative;
    width: 100%; 
    height: 6rem;   
    align-items: center;
    justify-content:space-evenly;
}



header img{
    width: 50px;
    height: 50px;
}

header ul li{
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    list-style: none;    
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    margin-left: 40px;
    box-shadow: inset 0 0 0 0 #667085;
    color: #667085;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

header ul{
    margin-left: 5rem;
}

.btnLogin{
    height: 2rem;
    width: 5rem;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: large;
}

.btnCad{
    height: 3rem;
    width: 8rem;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: large;
    color: white;
    background-color: #7C0A02;
    border-radius: 10px;
}


header ul li:hover {
  box-shadow: inset 100px 0 0 0 #667085;
  color: white;
}

.jobs{
    position: relative;
}

.jobs p{
    font-size: 20px;
}

.anuncio{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 90vh;
    right: 90vh;
    width: 150px;
    padding: 5px;
    background-color: rgb(124, 124, 124);
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    color: #8e2424;
    background-color: rgba(196, 25, 25, 0.03);
}

.anuncio-2{
    display: flex;
    justify-content: center;
   
}

.anuncio-3{
    display: flex;
    justify-content: center;
    color: rgb(189, 192, 192);
}

.foto-empregos{
    margin-top: 25px;
    margin-bottom: 10px;
}

.foto-jobs{
    width: 88%;
   
    margin: auto;
    display: block;
    border-radius: 2vh;
}

.design{
    margin-top: 15px;
}

.vagas{
    margin-top: 15px;
    width: 50%;
    margin: 0 auto;
}

.vagas h1{
    position: relative;
    
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px;
}

.design-vagas h1{
    margin-bottom: 15px;
}

.emprego{
    border: 1px solid rgb(190, 178, 178);
    border-radius: 1vh;
    margin-bottom: 25px;
}

.emprego h2{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: 500;
}

.emprego p{
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}